.horozontal-menu {
  width: 1000px;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: crimson;
  border-style: solid;
  cursor: pointer;
}

h1 {
    font-size: 3em;
    border-style:double;
    margin: 20px;
    padding: 40px;
    text-align: center;
}

h2 {
    font-size: 1.5;
    border-style: dashed;
    margin: 20px;
    padding: 40px;
    text-align: center;

}

#container {
  text-align: center;
  font: icon;
}

.indexTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: inherit;
    padding: inherit;
}

header {
  border-style: ridge;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
