.bodyBox {
  background-color: #105875;
}

.headbox {
  background-color: #75124c;
  padding: 40px;
  height:
}

.titleBox {
  background-color: #1d8c7b;
  padding: 30px;
}

img {
  float: right;

}

#s4cbt {
  font: icon;
  font-size: 1em;
  text-align: center;

}
