html{
    background-color: #b02765;
}

#thingsLearnt{
    margin: 5px;
    color: ghostwhite;
} 

#coreSuprises{
    margin: 5px;
    color: ghostwhite;
}
#mostChallenging{
    margin: 5px;
    color: ghostwhite;
}

#whyCore{
    margin: 5px;
    color: ghostwhite;
}

#worthIt{
    margin: 5px;
    color: ghostwhite;
}

