.techTitle {
    font: icon;
    font-size: 1.5em;
    text-align: center;
    border-style: outset;
    width: fit-content;
    margin: auto;
}

.horozontal-menu {

  font-size: 1.5em;

  text-align: center;
  border: crimson;
  border-style: solid;
  cursor: pointer;
}

#wrap {
  width: auto;
}

.left {
  width: 680px;
  height: 275px;
  float: left;
  border-style: outset;
}

.right {
  width: 680px;
  height: 275px;
  float: right;
  border-style: inset;
}

#wrap1 {
  width: auto;
}

.left1 {
  width: 680px;
  height: 275px;
  float: left;
  border-style: inset;
}

.right1 {
  width: 680px;
  height: 275px;
  float: right;
  border-style: outset;
}
