.techTitle {
    font: icon;
    font-size: 1.5em;
    text-align: center;
    border-style: outset;
    width: fit-content;
    margin: auto;
}

.horozontal-menu {

  font-size: 1.5em;

  text-align: center;
  border: crimson;
  border-style: solid;
  cursor: pointer;
}

#wrap {
  width: auto;
}

.left {
  width: 680px;
  height: 275px;
  float: left;
  border-style: outset;
}

.right {
  width: 680px;
  height: 275px;
  float: right;
  border-style: inset;
}

#wrap1 {
  width: auto;
}

.left1 {
  width: 680px;
  height: 275px;
  float: left;
  border-style: inset;
}

.right1 {
  width: 680px;
  height: 275px;
  float: right;
  border-style: outset;
}

.footer {
  text-align: center;
    font: icon;
    font-size: 1em;
      border-style: inset;
      width: fit-content;
  margin: auto;
  position: absolute;
  padding: 1rem;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  height: 50px;
  width: 50px;
}

p {
  text-align: center;
  width: 680px;
  font: icon;
}
